@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:ital,wght@0,600;1,400&display=swap');
:root {
  --purple: #691783;
  --cyan: #127979;
  --light-blue: #a5cccc;
  --pink: #ffd0dd;
}

html{
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: white;
  color: black;
  font-family: 'Abel', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.header-container{
  display: flex;
  justify-content: center;
/*   background-color: white; */
  color: var(--cyan);
  margin: 0;
  
}

a{
   text-decoration: none;
   color: white;
}


#description{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  margin-left: 4%;
  margin-right: 4%;
}

/* #logo{
  float: left
} */

/* #title{
  display: relative;
  position: relative;
  left: 220px;
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  z-index: 0;
} */
/* .title-class{
  display: relative;
  position: relative;
  left: 90px;
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.header-container{
  position: relative;
}

#logo{
  position: absolute;
  top: 0px;
  left: 0px;
}

.button{
  background-color: var(--cyan);
  width: 200px;
  height: 50px;
  border-width: 2px;
  border-radius: 6px;
  z-index: 2;
}

footer{
  padding: 20px;
  font-size: 15px;
}

hr{
  background-color: var(--cyan);
  height: 4px;
  border-width: 0;
  width: 40%;
  margin: 50px;
  height: 2px;
}
.subtitle{
  color: var(--cyan);
}

/* .header-nav{
  margin-left: auto;
  margin-right: 5%;
  font-size: 20px;
} */

.navbar {
  overflow: hidden;
  z-index: 2;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  z-index: 2;
}
.drop-item{
  background-color: var(--cyan);
  z-index: 2;
}

.dropbtn{
  border-bottom-right-radius: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  background-color: var(--cyan);
  z-index: 2;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--purple);
  transition: 0.5s;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-blue);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2{
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

h1{
  font-size: 80px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}


.home-btn{
  border-bottom-left-radius: 20px;
}

.contact{
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-family: 'Playfair Display', italic;
  background-color: white;
  color: black;
  border-color: black;
  /* border-radius: 20px; */
}

.contact:hover{
  background-color: black;
  color: white;
  transition: 1s;
}

.menu, .map-container{
  background-color: var(--purple);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.menu{
  padding: 40px;

}

#menu-title{
  margin-bottom: 60px;
}

.map-container{
  padding-top: 20px;
  padding-bottom: 70px;
  width: 80%;
}

#left-div{
  margin-left: 10%;
  background-color: var(--cyan);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#right-div{
  margin-right: 10%;
  background-color: var(--purple);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#reviews-link{
  margin: 10px;
}

#staff-img{
  width: 40%;
    margin: auto;
}

.map-container{
  color: white;
}

.review-child{
  position: relative;

  background-color: white;
  margin: 10px;
  border-radius: 20px;
  padding: 4px;
/*   height: 100px; */
}

.review-title{
  padding: 10px;
}

iframe{
  width: 70%;
}

#left-contact-div{
  margin-left: 10%;
  border-style: solid;
  border-color: var(--cyan);
  color: white;
  margin: 50px;
  border-width: 6px;
  border-radius: 2%;
}

#right-contact-div{
  margin-right: 10%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 20px;
  color: white;
}


.contact-container{
  background-color: var(--purple);
  border-radius: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#contact-subtitle, #contact-description, #staff-img{
  display: flex;
  justify-content: center; 
}

.short-input{
  font-family: 'Abel', sans-serif;
  width: 150px;
}

.long-input{
  font-family: 'Abel', sans-serif;
  width: 40%;
}

/* #container-child{
  display: flex;
  flex-direction: row;
} */

#submit-button{
  margin-top: 20px;
  height: 30px;
  width: 100px;
  font-family: 'Playfair Display', serif;
  background-color: var(--cyan);
  color: white;
  border: 0px;
  border-radius: 10px;

}

/* @media screen and (max-width: 850px){
  .home-btn{
  border-bottom-left-radius: 10px;
  }
  .dropbtn{
    border-bottom-right-radius: 10px;
  }
  #dd-logo{
  }
} */